@font-face {
    font-family: 'icomoon';
    src:    url('../font/icomoon.eot?dr07wn');
    src:    url('../font/icomoon.eot?dr07wn#iefix') format('embedded-opentype'),
        url('../font/icomoon.ttf?dr07wn') format('truetype'),
        url('../font/icomoon.woff?dr07wn') format('woff'),
        url('../font/icomoon.svg?dr07wn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-delectable:before {
    content: "\e903";
}
.icon-link:before {
    content: "\e005";
}
.icon-clock:before {
    content: "\e014";
}
.icon-comments:before {
    content: "\e076";
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-up-bold:before {
    content: "\e096";
}
.icon-arrow-down:before {
    content: "\e097";
}
.icon-plus:before {
    content: "\e114";
}
.icon-minus:before {
    content: "\e115";
}
.icon-menu:before {
    content: "\e120";
}
.icon-person:before {
    content: "\e7fd";
}
.icon-search:before {
    content: "\e8b6";
}
.icon-settings:before {
    content: "\e8b8";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-linked-in:before {
    content: "\f0e1";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-tumblr:before {
    content: "\f173";
}
.icon-vine:before {
    content: "\f1ca";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-discover:before {
    content: "\f1f2";
}
.icon-cc-amex:before {
    content: "\f1f3";
}
.icon-cc-paypal:before {
    content: "\f1f4";
}
.icon-cc-stripe:before {
    content: "\f1f5";
}
.icon-trip-advisor:before {
    content: "\f262";
}
.icon-vimeo:before {
    content: "\f27d";
}
.icon-snapchat:before {
    content: "\f2ac";
}
.icon-gplus:before {
    content: "\e900";
}
.icon-pinterest:before {
    content: "\e901";
}
.icon-yelp:before {
    content: "\e902";
}

